@media (max-width: 768px) {
  .main-container{
    display: flex;
    flex-direction: column;
  }

  .input-container{
    display: flex;
    flex-direction: column;
    background-image: url('https://cdn.wallpapersafari.com/67/42/4kDg1x.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    justify-content: center;
    align-items: center;
  }

  .shelf-container{
    background-image: url('https://th.bing.com/th/id/OIP.7Wuj-I67qLZ4idVoty3qGAHaEo?rs=1&pid=ImgDetMain');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
  }

  .input-form{
    display: flex;
    flex-direction: column;
  }

  .search-field{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }

  .contact-container{
    display: none;
  }
}